#body {
    background-size: cover;
    /* Ensures the image covers the entire container */
    /* background-position: center; */
    /* Centers the image within the container */
    background-repeat: no-repeat;
    min-height: 100vh;
    transition: all .7s;
}


.card {
    background-color: rgba(0, 0, 0, 0.2);
    color: yellow;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    /* Adding a text shadow for better contrast */

}

ul li span {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

}

.btn {
    color: red;
}


.header {
    color: yellow;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

}